<nav class="navbar is-white top-nav">
<div class="container">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'bookstore.index' %}">首页</a>
      <a class="navbar-item" href="{% url 'bookstore.index' %}">东莞</a>
    </div>
    <div class="navbar-end">
      {% if customer.is_authenticated %}
      <a class="navbar-item" href="{% url 'bookstore.profile' %}">您好，{{ customer.username }}</a>
      <a class="navbar-item">我的订单</a>
      {% else %}
      <a class="navbar-item" href="{% url 'bookstore.login' %}">登录</a>
      <a class="navbar-item" href="{% url 'bookstore.register' %}">注册</a>
      {% endif %}
      <div class="navbar-item has-dropdown is-hoverable is-right">
        <a class="navbar-item" href="{% url 'bookstore.index' %}">客户服务</a>
        <div class="navbar-dropdown">
          <a class="navbar-item">帮助中心</a>
          <a class="navbar-item">售后服务</a>
          <a class="navbar-item">意见建议</a>
        </div>
      </div>
      <a class="navbar-item" href="{% url 'bookstore.logout' %}">退出登录</a>
    </div>
  </div>
</div>
</nav>