* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.main {
    margin-top: 12px;
    margin-bottom: 84px;
}

.footer {
    height: 72px;
}

.copyright {
    height: 72px;
    line-height: 72px;
}

.slide .carousel-item img {
    height: 328px;
}

.featured {
    margin: 20px 0;
}
.featured ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cardItem {
    display: block;
    flex: 1;
    border: none;
    text-align: center;
}
.cardItem:not(:last-child) {
    margin-right: 1rem;
}

.cardItem img {
    margin: 0 auto;
    width: 118px;
    height: 118px;
}
.cardItem .card-text {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.ad {

}

.ad_item {
    margin-bottom: 10px;
}

.ad_item img {
    width: 100%;
}


.postList {
    margin: 20px 0;
}
.postList ul {

}
.postList li {
    list-style: none;
    margin-bottom: 16px;
}
.postList li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.postList li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.postList li img {
    width: 200px;
    height: 160px;
    margin-right: 20px;
}
.postList li aside {
    flex: 1;
}
.postList li h4 {

}
.postList li p {

}














