.top-nav {
    height: 2rem;
    min-height: 2rem;
}
.top-nav .container, .top-nav .navbar-menu, .top-nav .navbar-start, .top-nav .navbar-end, .top-nav .navbar-item {
    height: 2rem;
    min-height: 2rem;
}
.top-nav a {
    font-size: .8rem;
}

.carousel .carousel-navigation.is-overlay .carousel-nav-left, .carousel .carousel-navigation.is-overlay .carousel-nav-right {
    opacity: 1;
    transition: opacity .8s ease;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-left {
    left: 1.6rem;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-right {
    right: 1.6rem;
}
.carousel .carousel-navigation.is-overlay .transparent {
    opacity: 0;
    transition: opacity .8s ease;
}












