{% extends "front/common/base.html" %}
{% load static %}
{% block title %}Django Project{% endblock %}
{% block mainContent %}

<!-- slider start -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for slider in sliders %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %}"></li>
    {% empty %}
        <li>没有数据</li>
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for slider in sliders %}
        <a href="{{slider.slide_link}}" target="_blank" class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="/media/{{ slider.slide_img }}" alt="{{ slider.slide_title }}" style="width: 100%;" />
            <div class="carousel-caption d-none d-md-block">
                <h3>{{ slider.slide_title }}</h3>
            </div>
        </a>
    {% empty %}
        <li>没有数据</li>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- slider end -->

<div class="postList">
    <ul>
    {% for post in posts %}
        <li>
            <a href="/post/{{ post.id }}/">
                <img src="media/{{ post.featuredimg }}" alt="{{ post.post_title }}" />
                <aside>
                    <h4>{{ post.post_title }}</h4>
                    <p>{{ post.post_description }}</p>
                    <p>{{ post.create_time }}</p>
                </aside>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<script>
    $('.carousel').carousel()
</script>
{% endblock %}